body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bodyLogin {
    margin: 0;
    overflow-x: hidden;
    color: #585858;
    background: #fff;
    background-image: url(../Images/bg-login.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.auth-wrapper {
    min-height: 100vh;
    position: relative;
}

.auth-wrapper .auth-box {
    background: rgba(60, 54, 68, 0.8);
    padding: 20px;
    -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.8);
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    max-width: 100%;
    width: 100%;
    margin: 10% 0;
}

.preLoader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: radial-gradient(circle, #484848, #202020);
}

.loaderSpin {
    display: inline-block;
    position: relative;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}